 .prog{
			padding:20px 0 0 0 ;
		}
#landingHead{
	background-color: #000000;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); 
}
.left {
	color:white;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-60%, -60%);
    transition-delay: 2s;
}
.right{
	color:white;
	position: absolute;
    bottom: 20px;
    right: 60px;
}
.middle{
	color:white;
	position: absolute;
	top: 260px;
    right: 362px;
}
.fa-html5{
	font-size: 60px;
}
.fa-css3-alt{
	font-size: 30px;
}
.fa-js{
	font-size: 20px;
}
.fa-angular{
	font-size: 60px;
}
.fa-java{
	font-size: 60px;	
}
.fa-python{
	font-size: 60px;
}
.fa-node{
	font-size: 60px;
}
.fa-aws{
	font-size: 60px;
}
.fa-git{
	font-size: 60px;
}
.fa-github{
	font-size: 60px;
}
.fa-code{
	font-size: 60px;
}
.fa-briefcase,.fa-user-graduate,.fa-graduation-cap,.fa-child{
	font-size: 60px;
}
.fab-projBig{
	font-size: 80px;
}
.fab-projSmall{
	font-size: 20px;
}
.fa-code-branch{
	font-size: 40px; 
	padding-top: 20px;
}
.fa-staylinked{
	font-size: 40px;
}
#progressBar1{
	width:90%;
}
#progressBar2{
	width:70%;
}
#progressBar3{
	width:90%;
}
#progressBar4{
	width:50%;
}
#progressBar5{
	width:70%;
}
#progressBar6{
	width:50%;
}
#progressBar7{
	width:80%;
}
#progressBar8{
	width:80%;
}
.timeLine{
	border-right: 6px solid green;
	height: 100px;
}
.contactIcon{
	text-decoration: none;
	color: white;
	padding: 0 10px 0 10px;
}
.fab-social{
	font-size: 40px;
}
